$bg-primary-color: #4b4b4b;
$button-primary-color: #f58634;
$primary-color: #01ac98;

$primary-bg-dark: #000;
$primary-bg-light: #fff;

$black-color: #000;
$white-color: #ffff;
$space-xxl: 88px;
$space-xl: 64px;
$space-l: 40px;
$space-m: 24px;
$space-s: 16px;
$space-xs: 8px;
$space-dropdown: 200px;
